{% load adminlte_helpers i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despacho</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <style type="text/css">
        .btn-circle.btn-xl {
            width: 130px;
            height: 130px;
            padding: 13px 18px;
            border-radius: 100px;
            font-size: 15px;
            text-align: center;
            margin-left: 50px;
        }

        .btn-repor {
            background-color: #651410;
            color: aliceblue;
        }
    </style>
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">
    <div class="wrapper">
        {% block nav_header %}
        {% include '_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
        {% include '_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
            <section class="content-header">
                {% block no_heading %}
                <h1>
                    Despacho a Frigorificos
                    <div class="header-actions">
                        {% block page_actions %}{% endblock %}
                    </div>
                    <small>{% block page_description %}{% endblock %}</small>
                </h1>
                {% block breadcrumbs %}{% endblock %}
                {% endblock no_heading %}
            </section>
            {% endblock %}{% endblock %}

            <!-- Contenido principal -->
            <div class="container">
                <section class="content">
                    <div class="card" id="repdespacho_table" style="display:block;">
                        <div class="card-header">
                            <h3 class="card-title">Pedidos a Despachar</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_repdespacho" class="table table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <th>Consecutivo Cercafe</th>
                                        <th>Granja</th>
                                        <th>Cantidad Cerdos Solicitados</th>
                                        <th>Frigorifico</th>
                                        <th>Fecha De Pedido</th>
                                        <th>Observacion</th>
                                        <th>Cerdos Sin Despachar</th> <!-- Nueva columna -->
                                        <th>Despachar cerdos</th>
                                        <th>Finalizar Registros</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for despacho in despachos %}
                                    <tr>
                                        <td>{{ despacho.0 }}</td> <!-- ID del Despacho -->
                                        <td>{{ despacho.2 }}</td> <!-- Nombre de la Granja -->
                                        <td>{{ despacho.3 }}</td> <!-- Cantidad de Cerdos -->
                                        <td>{{ despacho.5 }}</td> <!-- Nombre del Frigorífico -->
                                        <td>{{ despacho.6 }}</td> <!-- Fecha de Pedido -->
                                        <td>{{ despacho.7 }}</td> <!-- Observación -->
                                        <td>{{ despacho.8 }}</td> <!-- Cerdos Sin Despachar -->

                                        <!-- Despachar cerdos -->
                                        <td>
                                            <button class="btn btn-repor" data-toggle="modal"
                                                data-target="#modalSalidasDespacho" data-id="{{ despacho.0 }}"
                                                data-granja-id="{{ despacho.1 }}" data-frigorifico-id="{{ despacho.4 }}"
                                                {% if despacho.8 <= 0 %} disabled {% endif %}>
                                                <i class="fa-solid fa-truck"></i>
                                            </button>
                                        </td>
                                        <!-- Finalizar Registros -->
                                        <td>
                                            {% if despacho.8 <= 0 %} <button class="btn btn-success" data-toggle="modal"
                                                data-target="#finalizarModal" data-consecutivo="{{ despacho.0 }}">
                                                Finalizar Registros
                                                </button>
                                                {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal con formulario para registrar despacho -->
                    <div class="modal fade" id="modalSalidasDespacho" tabindex="-1" role="dialog"
                        aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Registrar Despacho</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formDespacho" method="POST" action="{% url 'registrar_despacho' %}">
                                        {% csrf_token %}
                                        <!-- Consecutivo Despacho -->
                                        <div class="form-group">
                                            <label for="consecutivoDespacho">Consecutivo Cercafe:</label>
                                            <input type="text" class="form-control" id="consecutivoDespacho"
                                                name="consecutivoDespacho" required readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="granja_id">Granja:</label>
                                            <input type="text" class="form-control" id="granja_id" name="granja_id"
                                                required readonly>
                                        </div>
                                        <!-- Lote -->
                                        <div class="form-group">
                                            <label for="lote">Lote:</label>
                                            <input type="text" class="form-control" id="lote" name="lote" required>
                                        </div>

                                        <!-- Cerdos Despachados -->
                                        <div class="form-group">
                                            <label for="cerdosDespachados">Cerdos Despachados:</label>
                                            <input type="number" step="any" class="form-control" id="cerdosDespachados"
                                                name="cerdosDespachados" required>
                                        </div>

                                        <!-- Frigorífico -->
                                        <div class="form-group">
                                            <label for="frigorifico_id">Granja:</label>
                                            <input type="text" class="form-control" id="frigorifico_id"
                                                name="frigorifico_id" required readonly>
                                        </div>

                                        <!-- Fecha Entrega -->
                                        <div class="form-group">
                                            <label for="fechaEntrega">Fecha de Entrega:</label>
                                            <input type="date" class="form-control" id="fechaEntrega"
                                                name="fechaEntrega" required>
                                        </div>

                                        <!-- Peso Total -->
                                        <div class="form-group">
                                            <label for="pesoTotal">Peso Total:</label>
                                            <input type="number" step="any" class="form-control" id="pesoTotal"
                                                name="pesoTotal" required>
                                        </div>

                                        <!-- Placa -->
                                        <div class="form-group">
                                            <label for="placa">Placa:</label>
                                                <select class="form-control" id="placa" name="placa" required>
                                                    <option value="">Seleccionar Placa</option>
                                                    {% for placa in placas %}
                                                    <option value="{{ placa.id }}">{{ placa.nombre }}</option>
                                                {% endfor %}
                                                </select>
                                        </div>
                                        <!-- Reg IC -->
                                        <div class="form-group">
                                            <label for="regic">Registro IC:</label>
                                            <input type="text" class="form-control" id="regic" name="regic" required>
                                        </div>

                                        <!-- Reg ICA -->
                                        <div class="form-group">
                                            <label for="regica">Registro ICA:</label>
                                            <input type="text" class="form-control" id="regica" name="regica" required>
                                        </div>

                                        <!-- Retiro Alimentación -->
                                        <div class="form-group">
                                            <label for="retiroalimento">Retiro Alimentación:</label>
                                            <input type="datetime-local" class="form-control" id="retiroalimento"
                                                name="retiroalimento" required>
                                        </div>

                                        <!-- Conductor -->
                                        <div class="form-group">
                                            <label for="conductor">Conductor:</label>
                                            <select class="form-control" id="conductor" name="conductor" required>
                                                <option value="">Seleccionar Conductor</option>
                                                {% for conductor in conductores %}
                                                    <option value="{{ conductor.id }}">{{ conductor.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- Edad Promedio -->
                                        <div class="form-group">
                                            <label for="edadprom">Edad Promedio:</label>
                                            <input type="text" class="form-control" id="edadprom" name="edadprom"
                                                required>
                                        </div>

                                        <!-- Botón para guardar -->
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- GIF Loader -->
                    <div id="loadingGif"
                        style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                        <img src="{% static 'images/despacho.gif' %}" alt="Processing..."
                            style="width: 250px; height: 250px;"> <!-- Adjust size here -->
                    </div>
                    <!-- Lottie Loader -->
                    <div id="loadingLottie"
                        style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                        <!-- Lottie Animation in an iframe -->
                        <iframe src="https://lottie.host/embed/0253666a-e63d-4e63-817c-6bc0bd1186ef/eWKMqDv3fh.json"
                            style="border:none; width: 450px; height: 450px;"></iframe>


                    </div>


                    <!-- Modal para finalizar registros -->
                    <div class="modal fade" id="finalizarModal" tabindex="-1" role="dialog"
                        aria-labelledby="finalizarModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="finalizarModalLabel">Finalizar Registros</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea terminar los registros?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary"
                                        id="confirmarFinalizar">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {% block javascript %}
        {% include 'adminlte/lib/_scripts.html' %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>
        <script>
            $(document).ready(function () {
                // Detectar clic en los botones y pasar el id al modal
                $('.btn-repor').on('click', function () {
                    var id = $(this).data('id');
                    var granjaId = $(this).data('granja-id');
                    var frigorificoId = $(this).data('frigorifico-id');
                    $('#consecutivoDespacho').val(id);
                    $('#granja_id').val(granjaId);
                    $('#frigorifico_id').val(frigorificoId);
                });

                // Inicializar DataTable
                $("#tabla_repdespacho").DataTable({
                    "order": [[0, "desc"]]
                });
                $('#modalSalidasDespacho').on('show.bs.modal', function(event) {
                    console.log("Modal abierto"); // Verificar si el modal se abre
                    var button = $(event.relatedTarget); // Botón que abrió el modal
                    var id = button.data('id'); // Obtener ID del despacho

                    // Llamada AJAX para obtener las placas
                    $.ajax({
                        url: '/placas/', // Asegúrate de que esta URL sea correcta
                        type: 'GET',
                        success: function(response) {
                            console.log(response); // Verificar la respuesta
                            var placas = response.placas;
                            var placaSelect = $('#placa'); // Asegúrate de que este sea el ID correcto

                            placaSelect.empty(); // Limpiar las opciones anteriores
                            placaSelect.append('<option value="">Seleccionar Placa</option>');

                            if (placas && placas.length > 0) {
                                placas.forEach(function(placa) {
                                    placaSelect.append('<option value="' + placa.id + '">' + placa.nombre + '</option>');
                                });
                            } else {
                                placaSelect.append('<option value="">No hay placas disponibles</option>');
                            }
                        },
                        error: function(error) {
                            console.error('Error al cargar placas:', error);
                            alert('Error al cargar placas: ' + error.responseText);
                        }
                    });
                });

                // Manejar la finalización de registros
                var consecutivoDisponibilidad = null;  // Almacenar el consecutivo

                // Abrir modal de confirmación al hacer clic en "Finalizar Registros"
                $('#finalizarModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Botón que disparó el modal
                    consecutivoDisponibilidad = button.data('consecutivo'); // Extraer el consecutivo
                    console.log("Consecutivo para finalizar:", consecutivoDisponibilidad);  // Verificar el consecutivo extraído
                });

                // Confirmar finalización de registros con AJAX
                $('#confirmarFinalizar').on('click', function () {
                    console.log("Enviando solicitud AJAX para finalizar el registro con consecutivo:", consecutivoDisponibilidad);

                    $.ajax({
                        url: "/finalizar_registro/",  // URL de la vista que manejará la actualización
                        method: "POST",
                        data: {
                            'consecutivoDisponibilidad': consecutivoDisponibilidad,  // Enviar el consecutivo
                            'csrfmiddlewaretoken': '{{ csrf_token }}'  // Incluir el token CSRF aquí
                        },
                        success: function (response) {
                            console.log("Respuesta del servidor:", response);
                            if (response.success) {
                                alert('Registros finalizados con éxito.');
                                $('#finalizarModal').modal('hide');  // Cerrar el modal de finalización
                                location.reload();  // Recargar la página después del éxito
                            } else {
                                alert('Error al finalizar los registros: ' + response.error);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error en la solicitud AJAX:", error);
                            alert('Ocurrió un error al finalizar los registros.');
                        }
                    });
                });
                // Evento de cambio en el campo retiroalimento para formatear la fecha correctamente
                document.getElementById('retiroalimento').addEventListener('change', function (e) {
                    var input = e.target.value;
                    // Reemplazar la 'T' con un espacio y agregar ':00' para los segundos
                    var formattedValue = input.replace('T', ' ') + ':00';
                    e.target.value = formattedValue;
                });

                


                // Manejar el envío del formulario de despacho
                $('#formDespacho').on('submit', function (e) {
                    e.preventDefault();  // Evitar que el formulario haga una recarga de página

                    var formData = $(this).serialize();  // Obtener los datos del formulario
                    $('#loadingLottie').show(); // Mostrar el loading GIF

                    $.ajax({
                        url: $(this).attr('action'),  // Form action URL
                        method: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                // Muestra un mensaje de éxito
                                alert(response.message);
                                // Mantener el loading GIF visible por 3 segundos y luego recargar la página
                                setTimeout(function () {
                                    location.reload();  // Recargar la página después de 3 segundos
                                });  // 3-second delay
                                $('#modalSalidasDespacho').modal('hide');  // Cerrar el modal
                            } else {
                                // Muestra un mensaje de error
                                alert(response.error);
                            }
                        },
                        error: function (xhr, status, error) {
                            // Muestra un mensaje de error en caso de fallo en la solicitud
                            alert('Ocurrió un error al registrar el despacho: ' + error);
                        },
                        complete: function() { // Esta función se ejecuta cuando se completa la solicitud
                            $('#loadingLottie').hide(); // Ocultar el loading GIF
                        }
                    });
                });
            });
        </script>


        <script src="{% static 'custom.js' %}"></script>
        {% endblock %}
    </div>
</body>

</html>