{% load adminlte_helpers i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comercial</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>



    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <style type="text/css">
        .btn-circle.btn-xl {
            width: 130px;
            height: 100px;
            padding: 13px 18px;
            border-radius: 100px;
            font-size: 15px;
            text-align: center;
            margin-left: 50px;
        }

        .btn-repor {
            background-color: #651410;
            color: aliceblue;
        }
        .btn-pdf{
            margin-bottom: 17px;
        }
        .btn-export-excel {
            width: 167px;
            height: 46px;
            margin-bottom: 50px;
            margin-inline: 10px;
            margin-top: 23px;
        }
        .row{
            margin-left: 19.5px !important;
        }
        .h3, h3 {
            margin-left: 8px !important;
        }
        .btn-danger1 {
            background-color: #c45454;
            color: #ffffff;
        }
    </style>
    </style>
    {% endblock %}

    {% block extra_head %}

    {% endblock %}
</head>
</head>

<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">
    <div class="wrapper">
        {% block nav_header %}
        {% include '_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
        {% include '_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
            <section class="content-header">
                {% block no_heading %}
                <h1>
                    {% block page_name %}{% endblock %}
                    <div class="header-actions">
                        {% block page_actions %}{% endblock %}
                    </div>
                    {% block no_description %}
                    <small>{% block page_description %}{% endblock %}</small>
                    {% endblock %}
                </h1>
                {% block breadcrumbs %}
                {# Breadcrumb implementation left to developers #}
                {% endblock %}
                {% endblock no_heading %}
                <h1>Disponibilidad</h1>
            </section>
            {% endblock %}{% endblock %}
            <form method="POST" action="{% url 'guardar_disponibilidad' %}" accept-charset="UTF-8" class="form-horizontal" id="dispo">
                {% csrf_token %}
                <div class="form-group">
                    <label for="granja" class="col-lg-4 control-label">Granja: </label>
                    <div class="col-lg-4">
                        <select name="granja" class="form-control select2-hidden-accessible" required id="granjas" tabindex="-1" aria-hidden="true">
                            <option value="" disabled selected>Seleccione una granja</option>
                            <option value="1">La Fabiola</option>
                            <option value="2">Campeon</option>
                            <option value="3">La Cecilia</option>
                            <option value="4">Los Arrastres</option>
                            <option value="5">El PorFin</option>
                            <option value="6">Salamanca</option>
                            <option value="7">Bosque</option>
                            <option value="8">Lago</option>
                            <option value="9">Chambacu</option>
                            <option value="10">Buenos Aires Cer</option>
                            <option value="11">El Faro</option>
                            <option value="12">Corcega</option>
                            <option value="13">Versalles</option>
                            <option value="14">San Antonio</option>
                            <option value="15">Pontevedra</option>
                            <option value="16">San Miguel</option>
                            <option value="17">Cortijo</option>
                            <option value="18">Alabama</option>
                            <option value="19">Sierra Morena</option>
                            <option value="20">Don Benito</option>
                            <option value="21">La Selva</option>
                            <option value="22">El Oasis</option>
                            <option value="23">Buenos Aires GAM</option>
                            <option value="24">La Virtud</option>
                            <option value="25">El Placer</option>
                            <option value="26">Pitingo</option>
                            <option value="27">El Trebol</option>
                            <option value="28">Genetica</option>
                            <option value="29">G_PRUEBA</option>
                            <option value="30">CIA</option>
                            <option value="31">La Meseta</option>
                            <option value="35">El Manzano</option>
                            <option value="36">La Mongolia</option>
                            <option value="37">El Retiro</option>
                            <option value="38">El Recreo</option>
                            <option value="39">Agropecuaria Iberoandina</option>
                            <option value="43">La Siberita</option>
                            <option value="44">La Palma</option>
                            <option value="45">Fatima</option>
                            <option value="46">Corcega CRIA</option>
                            <option value="47">Agrocerdos-Versalles</option>
                            <option value="48">Jazmín</option>
                            <option value="54">La estrella</option>
                            <option value="55">Agroversalles - La Estrella</option>
                            <option value="56">G.A. SANJOSE S.A.</option>
                            <option value="57">Megacerdos</option>
                            <option value="58">Corcega WTF</option>
                            <option value="59">Porcilandia Buenos Aires </option>
                            <option value="60">San Luis</option>
                            <option value="61">Ciberita</option>
                            <option value="62">Praga</option>
                            <option value="63">Milonga</option>
                            <option value="64">AURORA</option>
                            <option value="65">No usar - Crecerdos</option>
                            <option value="66">El Estero</option>
                            <option value="67">San Luis Ceba</option>
                            <option value="68"></option>
                            <option value="69">Buenos Aires - El Establo</option>
                            <option value="70">San Jose</option>
                            <option value="71">Camiones</option>
                            <option value="72">Miraflores</option>
                            <option value="73">Los alamos</option>
                            <option value="74">g_prueba2</option>
                            <option value="75">Los Mellos</option>
                            <option value="76">El Triunfo</option>
                            <option value="77">Topigenetica-cia</option>
                            <option value="78">Corcega WTF2</option>
                            <option value="79">Agroversalles - Llanadas</option>
                            <option value="80">Agro Jabar Porfin</option>
                            <option value="81">Agro Jabar La Cecilia</option>
                            <option value="82">no usar</option>
                            <option value="83">Fatima HBM</option>
                            <option value="84">Yerbabuena- Italcol</option>
                            <option value="85">Buenos Aires - Italcol</option>
                            <option value="86">El Ruby</option>
                            <option value="87">La Maravilla</option>
                            <option value="88">Guaymaral</option>
                            <option value="89">CRECERDOS MR</option>
                            <option value="90">PROCERDOS MR</option>
                            <option value="91">La Meseta - Cerdos del Otun </option>
                            <option value="92">La Ciberita - Cerdos del Otun</option>
                            <option value="93">La Cima - Cerdos Del Otun</option>
                            <option value="94">San Luis Ceba - Cerdos del Otun</option>
                            <option value="95">Praga Ceba - Cerdos del Otun</option>
                            <option value="96">Fatima - Cerdos del Otun</option>
                            <option value="97">Topigenetica - Don Benito</option>
                        </select>
                    </div>
                </div>
                

                    <div class="form-group">
                    <label for="fecha_disponibilidad" class="col-lg-4 control-label">Fecha Disponibilidad: </label>
                    <div class="col-lg-4">
                        <input class="form-control" required="" placeholder="..." onchange="verificarFecha()" name="fecha_disponibilidad" type="date" id="fecha_disponibilidad">
                    </div>
                </div>
                <div class="form-group">
                    <label for="caracteristica" class="col-lg-4 control-label">Caracteristica: </label>
                    <div class="col-lg-4">
                        <select name="caracteristica" class="form-control" required="">
                            <option value="">Seleccione...</option>
                            <option value="1">Comercial</option>
                            <option value="2">Descartes</option>
                            <option value="3">Pesados</option>
                            <option value="4">Livianos</option>
                            <option value="5">Materno</option>
                            <option value="6">Colas</option>
                        </select>
                    </div>
                </div>
                    <div class="form-group">
                    <label for="genero" class="col-lg-4 control-label">Genero: </label>
                    <div class="col-lg-4">
                        <select name="genero" class="form-control" required="">
                            <option value="">Seleccione...</option>
                            <option value="1">Macho</option>
                            <option value="2">Hembra</option>
                            <option value="3">Mixto</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="disponibilidad_cantidad" class="col-lg-4 control-label">Disponibilidad Cantidad: </label>
                    <div class="col-lg-4">
                        <input class="form-control" required="" name="disponibilidad_cantidad" type="number" id="disponibilidad_cantidad">
                    </div>
                </div>
                <div class="form-group">
                    <label for="peso_promedio_limite_inferior" class="col-lg-4 control-label">Peso Promedio Limite Inferior: </label>
                    <div class="col-lg-4">
                        <input class="form-control" required="" name="peso_promedio_limite_inferior" type="number" id="peso_promedio_limite_inferior">
                    </div>
                </div>
                <div class="form-group">
                    <label for="peso_promedio_limite_superior" class="col-lg-4 control-label">Peso Promedio Limite Superior: </label>
                    <div class="col-lg-4">
                        <input class="form-control" required="" name="peso_promedio_limite_superior" type="number" id="peso_promedio_limite_superior">
                    </div>
                </div>
                <div class="form-group">
                    <label for="observaciones" class="col-lg-4 control-label">Observaciones: </label>
                    <div class="col-lg-4">
                        <input class="form-control" name="observaciones" type="text" id="observaciones">
                    </div>
                </div>


                <div class="form-group col-lg-12 col-xs-12">
                    <ul class="list-inline" align="center">

                        <li><input class="btn btn-success btn-md" id="botonSubirDisponibilidad" type="submit" value="Subir"></li>
                    </ul>
                </div>
            </form>


            <!-- Pie de página -->
        




            {% block javascript %}
            {% include 'adminlte/lib/_scripts.html' %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

            <script>
                document.getElementById('dispo').addEventListener('submit', function(event) {
                    const granjaSelect = document.getElementById('granjas');
                    if (!granjaSelect.value) {
                        alert("Por favor seleccione una granja.");
                        event.preventDefault(); // Evitar que el formulario se envíe
                    }
                });

                
            </script>



            <!-- script para llamar los html en el contenido -->
            <script src="{% static 'custom.js' %}"></script>
            {% endblock %}

</body>

</html>