{% load adminlte_helpers i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido a granja</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <style type="text/css">
        .btn-circle.btn-xl {
            width: 130px;
            height: 100px;
            padding: 13px 18px;
            border-radius: 100px;
            font-size: 15px;
            text-align: center;
            margin-left: 50px;
        }

        .btn-repor {
            background-color: #651410;
            color: aliceblue;
        }

        .btn-pdf {
            margin-bottom: 17px;
        }

        .btn-export-excel {
            width: 167px;
            height: 46px;
            margin-bottom: 50px;
            margin-inline: 10px;
            margin-top: 23px;
        }

        .row {
            margin-left: 19.5px !important;
        }

        .h3,
        h3 {
            margin-left: 8px !important;
        }

        .btn-danger1 {
            background-color: #c45454;
            color: #ffffff;
        }

        .table-responsive {
            position: relative;
            max-height: 400px;
            /* Cambia esto según sea necesario */
            overflow-y: auto;
            /* Habilita el scroll vertical */
        }

        .table {
            width: 100%;
            /* Asegúrate de que la tabla ocupe todo el ancho */
            border-collapse: collapse;
            /* Colapsa los bordes */
        }

        .thead-light {
            position: sticky;
            /* Hace que el encabezado sea "pegajoso" */
            top: 0;
            /* Fija el encabezado en la parte superior del contenedor */
            background-color: white;
            /* Color de fondo del encabezado */
            z-index: 10;
            /* Asegúrate de que el encabezado esté por encima del resto de la tabla */
        }

        .tdd {
            text-align: center;
            /* Alinea el texto al centro */
            padding: 8px;
            /* Añade padding a las celdas */
            border-bottom: 1px solid #dee2e6;
            /* Añade un borde inferior a las celdas */
        }
    </style>
    {% endblock %}

    {% block extra_head %}

    {% endblock %}
</head>

<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">
    <div class="wrapper">
        {% block nav_header %}
        {% include '_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
        {% include '_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
            <section class="content-header">
                <h1>Pedidos a Granja</h1>
            </section>
            {% endblock %}{% endblock %}

            <div class="container-fluid">
                <div class="">
                    <div class="loader" style="display: none;"></div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12" style="border-right: 1px solid #ddd;">
                                <div class="row" style="margin-top: 1.8%;">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-block btn-outline-dark btn-lg"
                                            style="width: 50%;" data-toggle="modal" data-target="#ModalRangoFecha">
                                            <b> Filtrar Semana</b>
                                        </button>
                                        <br>
                                        <p class="text-info" style="font-size:larger;"><strong>
                                                Fecha filtrada desde: <span id="fechaInicioTexto"
                                                    class="text-dark"><strong>N/A</strong></span> Hasta: <span
                                                    id="fechaFinTexto" class="text-dark">N/A</span></strong>
                                        </p>

                                    </div>

                                    <div class="col-sm-9">
                                        <form class="form-inline">
                                            <input id="FechaInicio" name="FechaInicio" class="form-control"
                                                type="hidden" value="">
                                            <input id="Fechafin" name="Fechafin" class="form-control" type="hidden"
                                                value="">
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                    <table class="table align-middle" id="tablaVistaSolicitud">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="tdd" style="text-align: center;" scope="col">TOTAL POR DIA
                                                </th>
                                                <input type="hidden" id="total_antes" value="0">
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_domingo">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_lunes">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_martes">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_miercoles">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_jueves">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_viernes">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_sabado">0</th>
                                                
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_ubicados">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_disponibles">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"
                                                    id="total_porUbicar">0</th>
                                                <th class="tdd" style="text-align: center;" scope="col"></th>
                                            </tr>
                                            <tr>
                                                <th class="tdd" style="text-align: center;" scope="col">Granja</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Do</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Lu</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Ma</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Mi</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Ju</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Vi</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Sa</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Ubicado</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Disponible</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Por Ubicar</th>
                                                <th class="tdd" style="text-align: center;" scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Aquí se llenarán las filas dinámicamente con AJAX -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div id="loadingLottie1"
                        style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                        <!-- Lottie Animation in an iframe -->
                        <iframe src="https://lottie.host/embed/ff5b9cc8-2cb0-4f82-92b9-c87520a7ed60/fbHdBVDFFC.json"
                            style="border:none; width: 450px; height: 450px;"></iframe>

                    </div>
                    <div class="modal fade" id="editPedidosModal" tabindex="-1" role="dialog"
                        aria-labelledby="editPedidosModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editPedidosModalLabel">Editar Pedidos</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="editPedidosForm">
                                        <input type="hidden" id="consecutivoDisponibilidad"
                                            name="consecutivoDisponibilidad">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Frigorífico</th>
                                                    <th>Fecha</th>
                                                    <th>Observación</th>
                                                </tr>
                                            </thead>
                                            <tbody id="pedidosBody">
                                                <!-- Las filas se llenarán dinámicamente -->
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-primary"
                                            onclick="guardarPedidosEditados()">Guardar Cambios</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para el rango de fecha -->
                    <div class="modal fade" id="ModalRangoFecha" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"> <strong style="font-size:x-large">
                                            Filtrar Semana</strong> <br>Ingresa una semana empezando por Domingo y
                                        terminada en Sabado </h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <form id="formRangoFecha" onsubmit="return validarFechas()">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="FechaIni">Fecha Inicio:</label>
                                                <input id="FechaIni" name="FechaIni" class="form-control" type="date"
                                                    required="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="FechaFin">Fecha Fin:</label>
                                                <input id="FechaFin" name="FechaFin" class="form-control" type="date"
                                                    required="">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal"><b>Cerrar</b></button>
                                        <button type="submit" class="btn btn-primary"><b>Filtrar</b></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-9">
                        <div class="row" style="margin-top: 1.8%; margin-bottom: 2%;">
                            <div class="col-sm-4">
                                <select id="granjas" class="form-control">
                                    <option value="">Selecciona una opción</option>

                                </select>

                            </div>
                            <div class="col-sm-6">
                                <a id="bt_add" class="btn btn-app bg-secondary"
                                    style=" margin-top: -2.2%; margin-bottom: 0%; float: left">
                                    <i class="fas fa-piggy-bank"></i>solicitar cerdos
                                </a>

                            </div>
                            <input type="hidden" id="consecutivoDisponibilidad" name="consecutivoDisponibilidad"
                                value="">
                        </div>

                        <div class="table-responsive scrollSolicitudGranja">
                            <table class="table table-striped table-bordered table-hover"
                                id="tablaSolicitudCerdosGranja">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Observación</th>
                                        <th scope="col">Frigorífico</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="TablaSolicitudGranja"></tbody>
                            </table>
                        </div>
                        <button id="solicitarPedido" class="btn  btn-outline-info btn-lg"
                            style=" right: auto; margin-top: 2%; margin-bottom: 7%;">
                            <b>Solicitar</b>
                        </button>
                    </div>


                    {% block javascript %}
                    {% include 'adminlte/lib/_scripts.html' %}
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <!-- Importación de scripts -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <!-- Scripts personalizados -->
                    <script>
                        $(document).ready(function () {
                            $('#formRangoFecha').on('submit', function (e) {
                                e.preventDefault();

                                let fechaInicio = $('#FechaIni').val();
                                let fechaFin = $('#FechaFin').val();

                                if (!fechaInicio || !fechaFin) {
                                    alert('Por favor, complete ambas fechas.');
                                    return;
                                }
                                let dateInicio = new Date(fechaInicio);
                                let dateFin = new Date(fechaFin);

                                // Calcular el número de semana
                                let semanaInicio = getWeekNumber(dateInicio);
                                let semanaFin = getWeekNumber(dateFin);
                                $('#fechaInicioTexto').text(fechaInicio + " (Semana " + semanaInicio + ")");
                                $('#fechaFinTexto').text(fechaFin + " (Semana " + semanaFin + ")");
                                $.ajax({
                                    url: '/disponibilidad_semanal/',
                                    type: 'GET',
                                    data: {
                                        'FechaInicio': fechaInicio,
                                        'FechaFin': fechaFin
                                    },
                                    success: function (response) {
                                        const groupedData = {};
                                        const uniqueGranjas = new Set();

                                        $('#granjas').empty();
                                        $('#granjas').append('<option value="">Selecciona una opción</option>');
                                        response.forEach(function (item) {
                                            if (!uniqueGranjas.has(item.consecutivoDisponibilidad)) {
                                                console.log('item:', item);
                                                $('#granjas').append(`<option value="${item.granja_id}" data-consecutivo="${item.consecutivoDisponibilidad}">${item.nombre_granja}</option>`);
                                                uniqueGranjas.add(item.consecutivoDisponibilidad);  // Add to Set to avoid duplicates
                                            }
                                        });

                                        $('#granjas').on('change', function () {
                                            let consecutivoDisponibilidad = $(this).find(':selected').data('consecutivo');
                                            console.log('Consecutivo Disponibilidad seleccionado:', consecutivoDisponibilidad);
                                            $('#consecutivoDisponibilidad').val(consecutivoDisponibilidad);
                                        });
                                        // Agrupar datos por consecutivoDisponibilidad
                                        response.forEach(function (item) {
                                            const consecutivo = item.consecutivoDisponibilidad;
                                            const fecha = new Date(item.fechaDisponibilidad);
                                            const diaSemana = fecha.getDay(); // 0 = Domingo, 1 = Lunes, ..., 6 = Sábado

                                            if (!groupedData[consecutivo]) {
                                                groupedData[consecutivo] = {
                                                    nombre_granja: item.nombre_granja,
                                                    domingo: '',
                                                    lunes: '',
                                                    martes: '',
                                                    miercoles: '',
                                                    jueves: '',
                                                    viernes: '',
                                                    sabado: '',
                                                    disponibleRestante: item.disponibilidad_cantidad,
                                                    id: item.id_disponibilidad_individual
                                                };
                                            }

                                            // Asignar el valor a la columna correcta según el día de la semana
                                            switch (diaSemana) {
                                                case 0: // Domingo
                                                    groupedData[consecutivo].domingo += (groupedData[consecutivo].domingo ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                                case 1: // Lunes
                                                    groupedData[consecutivo].lunes += (groupedData[consecutivo].lunes ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                                case 2: // Martes
                                                    groupedData[consecutivo].martes += (groupedData[consecutivo].martes ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                                case 3: // Miércoles
                                                    groupedData[consecutivo].miercoles += (groupedData[consecutivo].miercoles ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                                case 4: // Jueves
                                                    groupedData[consecutivo].jueves += (groupedData[consecutivo].jueves ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                                case 5: // Viernes
                                                    groupedData[consecutivo].viernes += (groupedData[consecutivo].viernes ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                                case 6: // Sábado
                                                    groupedData[consecutivo].sabado += (groupedData[consecutivo].sabado ? `, ` : '') + `${item.cantidadCerdos} (${item.id_disponibilidad_individual})`;
                                                    break;
                                            }
                                        });

                                        // Limpiar la tabla antes de agregar nuevos datos
                                        $('#tablaVistaSolicitud tbody').empty();

                                        // Iterar sobre los datos agrupados y renderizarlos en la tabla
                                        for (const key in groupedData) {
                                            const row = groupedData[key];
                                            // Variables para almacenar los totales por día y las columnas finales
                                            let totalDomingo = 0;
                                            let totalLunes = 0;
                                            let totalMartes = 0;
                                            let totalMiercoles = 0;
                                            let totalJueves = 0;
                                            let totalViernes = 0;
                                            let totalSabado = 0;
                                            let totalUbicado = 0;
                                            let totalDisponible = 0;
                                            let totalPorUbicar = 0;

                                            // Iterar sobre los datos agrupados para calcular totales
                                            for (const key in groupedData) {
                                                const row = groupedData[key];

                                                // Función para sumar correctamente la cantidad de cerdos en cada día
                                                const sumarCerdos = (dia) => {
                                                    if (!dia) return 0;
                                                    return dia.split(',').reduce((total, item) => {
                                                        const cantidad = parseInt(item.trim().split(' ')[0]);
                                                        return total + (isNaN(cantidad) ? 0 : cantidad);
                                                    }, 0);
                                                };

                                                // Sumar valores por día
                                                totalDomingo += sumarCerdos(row.domingo);
                                                totalLunes += sumarCerdos(row.lunes);
                                                totalMartes += sumarCerdos(row.martes);
                                                totalMiercoles += sumarCerdos(row.miercoles);
                                                totalJueves += sumarCerdos(row.jueves);
                                                totalViernes += sumarCerdos(row.viernes);
                                                totalSabado += sumarCerdos(row.sabado);

                                                // Sumar totales de "Ubicado", "Disponible" y "Por Ubicar"
                                                const ubicado = sumarCerdos(row.domingo) + sumarCerdos(row.lunes) + sumarCerdos(row.martes) +
                                                                sumarCerdos(row.miercoles) + sumarCerdos(row.jueves) + sumarCerdos(row.viernes) +
                                                                sumarCerdos(row.sabado);
                                                totalUbicado += ubicado;
                                                totalDisponible += row.disponibleRestante;
                                                totalPorUbicar += row.disponibleRestante - ubicado;
                                            }

                                            // Actualizar los valores en el encabezado
                                            $('#total_lunes').text(totalLunes);
                                            $('#total_martes').text(totalMartes);
                                            $('#total_miercoles').text(totalMiercoles);
                                            $('#total_jueves').text(totalJueves);
                                            $('#total_viernes').text(totalViernes);
                                            $('#total_sabado').text(totalSabado);
                                            $('#total_domingo').text(totalDomingo);
                                            $('#total_ubicados').text(totalUbicado);
                                            $('#total_disponibles').text(totalDisponible);
                                            $('#total_porUbicar').text(totalPorUbicar);
                                            // Sumar la cantidad de cerdos solicitados en todos los días de la semana (lunes a domingo)
                                            let ubicado = 0;

                                            // Función para sumar correctamente la cantidad de cerdos, manejando múltiples pedidos
                                            const sumarCerdos = (dia) => {
                                                if (!dia) return 0;
                                                return dia.split(',').reduce((total, item) => {
                                                    const cantidad = parseInt(item.trim().split(' ')[0]);
                                                    return total + (isNaN(cantidad) ? 0 : cantidad);
                                                }, 0);
                                            };

                                            ubicado += sumarCerdos(row.domingo);
                                            ubicado += sumarCerdos(row.lunes);
                                            ubicado += sumarCerdos(row.martes);
                                            ubicado += sumarCerdos(row.miercoles);
                                            ubicado += sumarCerdos(row.jueves);
                                            ubicado += sumarCerdos(row.viernes);
                                            ubicado += sumarCerdos(row.sabado);
                                            

                                            // Calcular el valor de "Por ubicar"
                                            let porUbicar = row.disponibleRestante - ubicado;

                                            // Asegúrate de que los valores de "Ubicado" y "Por ubicar" sean válidos
                                            if (isNaN(ubicado)) ubicado = 0;
                                            if (isNaN(porUbicar)) porUbicar = 0;

                                            $('#tablaVistaSolicitud tbody').append(
                                                `<tr>
                                                    <td>${row.nombre_granja}</td>
                                                    <td>${row.domingo || '0'}</td>
                                                    <td>${row.lunes || '0'}</td>
                                                    <td>${row.martes || '0'}</td>
                                                    <td>${row.miercoles || '0'}</td>
                                                    <td>${row.jueves || '0'}</td>
                                                    <td>${row.viernes || '0'}</td>
                                                    <td>${row.sabado || '0'}</td>
                                                    <td>${ubicado}</td> <!-- Ubicado: suma de cantidad de cerdos de todos los días -->
                                                    <td>${row.disponibleRestante}</td> <!-- disponible -->
                                                    <td>${porUbicar}</td> <!-- Por ubicar: disponibleRestante - ubicado -->
                                                    <td><button class="btn btn-info" onclick="editarPedido(${key})">Editar</button></td>
                                                </tr>`
                                            );
                                        }
                                        $('#ModalRangoFecha').modal('hide').removeClass('show').attr('aria-hidden', 'true');
                                        $('.modal-backdrop').hide();

                                    },
                                    error: function (error) {
                                        console.log('Error:', error);
                                    }
                                });
                            });
                        });
                        function getWeekNumber(date) {
                            const firstDayOfYear = new Date(date.getFullYear(), 0, 1);
                            const pastDaysOfYear = (date - firstDayOfYear) / 86400000;
                            return Math.ceil((pastDaysOfYear + firstDayOfYear.getDay() + 1) / 7);
                        }
                        function editarPedido(consecutivoDisponibilidad) {
                            // Hacer una solicitud AJAX para obtener los detalles del pedido por su consecutivoDisponibilidad
                            $.ajax({
                                url: '/get_pedido/',
                                type: 'GET',
                                data: { 'consecutivoDisponibilidad': consecutivoDisponibilidad },
                                success: function (response) {
                                    if (response.pedidos.length > 0) {
                                        // Limpiar el cuerpo de la tabla en el modal antes de cargar los datos
                                        $('#pedidosBody').empty();

                                        // Obtener la lista de frigoríficos (supongo que tienes una ruta /frigorificos que devuelve una lista de frigoríficos)
                                        $.ajax({
                                            url: '/frigorificos/',
                                            type: 'GET',
                                            success: function (frigorificosResponse) {
                                                let frigorificos = frigorificosResponse.frigorificos;

                                                // Llenar el modal con los registros obtenidos
                                                response.pedidos.forEach(function (item) {
                                                    // Generar el dropdown de frigoríficos con el frigorífico actual seleccionado
                                                    let frigorificoOptions = frigorificos.map(function (frigorifico) {
                                                        return `<option value="${frigorifico.id}" ${frigorifico.id == item.frigorifico ? 'selected' : ''}>${frigorifico.nombre}</option>`;
                                                    }).join('');

                                                    // Insertar la fila del pedido en el modal
                                                    $('#pedidosBody').append(`
                                                        <tr>
                                                            <td>
                                                                <input type="number" class="form-control" value="${item.cantidadCerdos}" data-id="${item.id}" name="cantidad[]"disabled>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" name="frigorifico[]">
                                                                    ${frigorificoOptions}  <!-- Lista de frigoríficos -->
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="date" class="form-control" value="${new Date(item.fechaDisponibilidad).toISOString().split('T')[0]}" name="fecha[]">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" value="${item.observacion}" name="observacion[]"disabled>
                                                            </td>
                                                            
                                                        </tr>
                                                    `);
                                                });

                                                // Establecer el valor de consecutivoDisponibilidad en un campo oculto para uso posterior
                                                $('#consecutivoDisponibilidad').val(consecutivoDisponibilidad);

                                                // Mostrar el modal de edición
                                                $('#editPedidosModal').modal('show');
                                            },
                                            error: function (error) {
                                                console.error('Error al obtener los frigoríficos:', error);
                                            }
                                        });
                                    } else {
                                        Swal.fire({
                                            title: 'Advertencia',
                                            html: '<div style="text-align: center;">No se encontraron pedidos para editar</div>',
                                            showConfirmButton: true,
                                            confirmButtonText: 'Aceptar',
                                            icon: 'warning'
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.error('Error al obtener los pedidos:', error);
                                }
                            });
                        }

                        function guardarPedidosEditados() {
                            let pedidos = [];

                            // Recorre todas las filas del modal y recopila los datos editados
                            $('#pedidosBody tr').each(function () {
                                let id = $(this).find('input[data-id]').data('id');
                                let cantidad = $(this).find('input[name="cantidad[]"]').val();
                                let frigorifico = $(this).find('select[name="frigorifico[]"]').val();
                                let fecha = $(this).find('input[name="fecha[]"]').val();
                                let observacion = $(this).find('input[name="observacion[]"]').val();

                                // Agrega los datos del pedido al array
                                pedidos.push({ id, cantidad, frigorifico, fecha, observacion });
                            });

                            // Enviar los pedidos editados al servidor mediante AJAX
                            $.ajax({
                                url: '/update_pedido/',  // Asegúrate de que la URL sea correcta
                                type: 'POST',
                                data: {
                                    'pedidos': JSON.stringify(pedidos),  // Serializamos el array de pedidos
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Asegúrate de incluir el token CSRF
                                },
                                success: function (response) {
                                    if (response.success) {
                                        Swal.fire({
                                            title: 'Éxito',
                                            html: '<div style="text-align: center;">Pedidos actualizados correctamente</div>',
                                            showConfirmButton: true,
                                            confirmButtonText: 'Aceptar',
                                            icon: 'success'
                                        }).then(() => {
                                            $('#editPedidosModal').modal('hide');  // Cerrar el modal
                                            location.reload();  // Recargar la página para ver los cambios
                                        });
                                    } else {
                                        Swal.fire({
                                            title: 'Advertencia',
                                            html: '<div style="text-align: center;">Error al actualizar los pedidos: ' + response.error + '</div>',
                                            showConfirmButton: true,
                                            confirmButtonText: 'Aceptar',
                                            icon: 'warning'
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.error('Error al actualizar los pedidos:', error);
                                }
                            });
                        }


                        function eliminarFila(elemento) {
                            $(elemento).closest('tr').remove();
                        }



                        function actualizarDisponibilidad(nuevaDisponibilidad) {
                            // Actualiza la tabla de disponibilidad con los nuevos valores
                            $('#tablaVistaSolicitud tbody').find('tr').each(function () {
                                let granja = $(this).find('td:first').text();
                                if (granja in nuevaDisponibilidad) {
                                    // Actualizar las celdas correspondientes
                                    $(this).find('td').eq(9).text(nuevaDisponibilidad[granja].disponibilidad_cantidad);
                                }
                            });
                        }
                        $(document).ready(function () {
                            $.ajax({
                                url: '/frigorificos/',
                                type: 'GET',
                                success: function (response) {

                                    var frigorificos = response.frigorificos;
                                    $('#bt_add').on('click', function () {
                                        // Obtener la granja seleccionada
                                        let granjas = $('#granjas').val();
                                        console.log('granja aa:', granjas);
                                        let consecutivoDisponibilidad = $('#consecutivoDisponibilidad').val();
                                        console.log('consecutivoDisponibilidad:', consecutivoDisponibilidad);


                                        if (!granjas) {
                                            Swal.fire({
                                                title: 'Advertencia',
                                                html: '<div style="text-align: center;">Por favor, selecciona una granja.</div>',
                                                showConfirmButton: true,
                                                confirmButtonText: 'Aceptar',
                                                icon: 'warning'
                                            });
                                            return;
                                        }

                                        // Agregar una nueva fila a la tabla
                                        $('#TablaSolicitudGranja').append(`
                                    <tr>
                                        <td>
                                            <input type="text" name="producto[]" value="CERDO" placeholder="Producto" class="form-control "disabled>
                                        </td>
                                        <td>
                                            <input type="number" name="cantidad[]" value="" placeholder="Cantidad" class="form-control is-warning">
                                        </td>
                                        <td>
                                            <input type="text" name="observacion[]" value="" placeholder="Observación" class="form-control">
                                        </td>
                                          <td>
                                            <select name="frigorifico[]" class="form-control">
                                                <option value="">Seleccione un frigorífico</option>
                                                ${frigorificos.map(function (frigorifico) {
                                            return `<option value="${frigorifico.id}">${frigorifico.nombre}</option>`;
                                        }).join('')}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="date" name="fecha[]" value="" placeholder="Fecha" class="form-control">
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" onclick="eliminarFila(this)">Eliminar</button>
                                        </td>
                                    </tr>
                                 `);
                                    });
                                },
                                error: function (error) {
                                    console.log('Error:', error);
                                }
                            });

                            // Función para eliminar una fila de la tabla
                            function eliminarFila(elemento) {
                                $(elemento).closest('tR').remove();
                            }
                        });

                        $(document).ready(function () {
                            $('#solicitarPedido').on('click', function () {
                                let granjas = $('#granjas').val();
                                console.log('granjassssss:', granjas);
                                let consecutivoDisponibilidad = $('#consecutivoDisponibilidad').val();
                                console.log('consecutivoDisponibilidad:', consecutivoDisponibilidad);
                                let productos = [];
                                $('#TablaSolicitudGranja tr').each(function () {
                                    let producto = $(this).find('input[name="producto[]"]').val();
                                    let cantidad = parseInt($(this).find('input[name="cantidad[]"]').val());
                                    let observacion = $(this).find('input[name="observacion[]"]').val();
                                    let frigorifico = $(this).find('select[name="frigorifico[]"]').val();
                                    let fecha = $(this).find('input[name="fecha[]"]').val();

                                    // Asegúrate de que todos los valores sean válidos antes de agregarlos
                                    if (!isNaN(cantidad) && frigorifico && fecha) {
                                        productos.push({ producto, cantidad, observacion, frigorifico, fecha });
                                    }
                                });

                                if (!granjas || productos.length === 0) {
                                    Swal.fire({
                                        title: 'Advertencia',
                                        html: '<div style="text-align: center;">Por favor, diligencia todos los campos</div>',
                                        showConfirmButton: true,
                                        confirmButtonText: 'Aceptar',
                                        icon: 'warning'
                                    });
                                    return;
                                }

                                // Enviar datos al servidor
                                $.ajax({
                                    url: '/solicitar_pedido/',
                                    type: 'POST',
                                    data: {
                                        'granja_id': granjas,
                                        'consecutivoDisponibilidad': consecutivoDisponibilidad,
                                        'productos': JSON.stringify(productos),
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                                    },
                                    success: function (response) {
                                        if (response.success) {
                                            Swal.fire({
                                                title: 'Éxito',
                                                html: `
                                                    <div style="text-align: center;">
                                                        <p>${response.message || 'Pedido realizado correctamente'}</p>
                                                        <iframe src="https://lottie.host/embed/5167aa24-658e-42f5-983c-33f92680b92a/GMQbNTjKIy.json" 
                                                        style="border:none; width: 300px; height: 300px;"></iframe>
                                                            </iframe>
                                                    </div>`,
                                                showConfirmButton: true,
                                                confirmButtonText: 'Aceptar',
                                            }).then(() => {
                                                location.reload();
                                            });
                                        } else {
                                            Swal.fire({
                                                title: 'Advertencia',
                                                html: '<div style="text-align: center;">Error al realizar el pedido: ' + response.error + '</div>',
                                                showConfirmButton: true,
                                                confirmButtonText: 'Aceptar',
                                                icon: 'warning'
                                            });
                                        }
                                    },

                                    error: function (error) {
                                        console.log('Error:', error);
                                    }
                                });
                            });
                        });

                    </script>

                    <!-- script para llamar los html en el contenido -->
                    <script src="{% static 'custom.js' %}"></script>
                    {% endblock %}
                </div>
            </div>
</body>

</html>