{% load adminlte_helpers %}
{%load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Remisiones</title>
    <script>
        function actualizarFechaExpedicion() {
            var fechaHoraActual = new Date();
            var formatoFechaHora = ("0" + fechaHoraActual.getDate()).slice(-2) + "/" +
                                   ("0" + (fechaHoraActual.getMonth() + 1)).slice(-2) + "/" +
                                   fechaHoraActual.getFullYear() + " " +
                                   ("0" + fechaHoraActual.getHours()).slice(-2) + ":" +
                                   ("0" + fechaHoraActual.getMinutes()).slice(-2) + ":" +
                                   ("0" + fechaHoraActual.getSeconds()).slice(-2);
            document.getElementById("fechaExpedicion").innerText = formatoFechaHora;
        }
        window.onload = function() {
            actualizarFechaExpedicion();
        };
    </script>
</head>
<body>
    <table style="height: 30px; width: 305px; border-collapse: collapse; border-style: solid; float: right; margin-top: 0;" border="1">
        <tbody>
        <tr style="height: 30px;">
        <td style="width: 176.172px; height: 30px; text-align: center;">CONSECUTIVO CERCAFE:</td>
        <td style="width: 121.828px; text-align: center; height: 30px;"><strong>{{ consecutivo_cercafe }}</strong></td>
        </tr>
        </tbody>
        </table>
        <p style="text-align: center;"><img style="float: left;" src="http://127.0.0.1:8000/static/images/qrcercafe.png" alt="" width="135" height="135" />&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</p> 
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
             &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 
                <img src="http://127.0.0.1:8000/static/images/logo_cercafe_original.png" alt="logocercafe" width="194" height="97" /></p>
        <p style="text-align: center;">&nbsp;&nbsp;Nit: 816003954-5</p>
        <p style="text-align: center;">MERCASA UN ADMINISTRATIVA P4 OF 403 - PEREIRA</p>
        <p>&nbsp; &nbsp; &nbsp;</p>
        <table style="height: 122px; width: 100%; border-collapse: collapse; border-style: solid;">
        <tbody>
        <tr style="height: 14px;">
        <td style="width: 23.5295%; height: 14px;"><strong>Planta De Sacrificio:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{ last_remision.5}}</td>
        {% endwith %}
        {% endif %}
        <td style="width: 3.5014%; height: 14px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 14px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 14px;"><strong>Fecha y hora de expedicion:</strong></td>
        <td style="width: 14.2857%; height: 14px;" id="fechaExpedicion">10/04/2024 13:00:00</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 23.5295%; height: 18px;"><strong>Granja:</strong></td>
        {% if resultados_dhc %}
        {% with last_resultados_dhc=resultados_dhc|last %}
        <td style="width: 14.7058%; height: 18px;">{{last_resultados_dhc.2}}</td>
        {% endwith %}
        {% endif %}
        <td style="width: 3.5014%; height: 18px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 18px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 18px;"><strong>Ciudad&nbsp;</strong></td>
        <td style="width: 14.2857%; height: 18px;">Pereira</td>
        </tr>
        
        <tr style="height: 18px;">
        <td style="width: 23.5295%; height: 18px;"><strong>Propietario:</strong></td>
        {% if resultados_dhc %}
        {% with last_resultados_dhc=resultados_dhc|last %}
        <td style="width: 14.7058%; height: 18px;">{{last_resultados_dhc.4}}</td>
        {% endwith %}
        {% endif %}
        <td style="width: 3.5014%; height: 18px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 18px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 18px;"><strong>Registro ICA:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{ last_remision.11}}</td>
        {% endwith %}
        {% endif %}
        </tr>
        
        <tr style="height: 18px;">
        <td style="width: 23.5295%; height: 18px;"><strong>Nit:</strong></td>
        {% if resultados_dhc %}
        {% with last_resultados_dhc=resultados_dhc|last %}
        <td style="width: 14.7058%; height: 18px;">{{last_resultados_dhc.3}}</td>
        {% endwith %}
        {% endif %}
        <td style="width: 3.5014%; height: 18px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 18px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 18px;"><strong>Registro IC:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{ last_remision.10}}</td>
        {% endwith %}
        {% endif %}
        </tr>
        <tr style="height: 18px;">
        <td style="width: 23.5295%; height: 18px;"><strong>Despachado a:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{ last_remision.5}}</td>
        {% endwith %}
        {% endif %}
        <td style="width: 3.5014%; height: 18px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 18px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 18px;"><strong>Retiro de Alimento:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{last_remision.12 | date:"d/m/Y H:i:s"}}</td>
        {% endwith %}
        {% endif %}
        </tr>
        <tr style="height: 18px;">
        <td style="width: 23.5295%; height: 18px;"><strong>Transportado por:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{ last_remision.8}}</td>
        {% endwith %}
        {% endif %}
        <td style="width: 3.5014%; height: 18px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 18px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 18px;"><strong>Placa:</strong></td>
        {% if remisionnew %}
        {% with last_remision=remisionnew|last %}
        <td style="width: 14.2857%; height: 18px;">{{ last_remision.9 }}</td>
        {% endwith %}
        {% endif %}
        </tr>
        
        <tr style="height: 18px;">
        <td style="width: 23.5295%; height: 18px;">&nbsp;</td>
        <td style="width: 14.7058%; height: 18px;">&nbsp;</td>
        <td style="width: 3.5014%; height: 18px;">&nbsp;</td>
        <td style="width: 4.06156%; height: 18px;">&nbsp;</td>
        <td style="width: 34.1737%; height: 18px;">&nbsp;</td>
        <td style="width: 14.2857%; height: 18px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <table style="height: 72px; width: 100%; border-collapse: collapse;">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 16.6667%; height: 18px;">&nbsp;</td>
        <td style="width: 16.5266%; height: 18px;">&nbsp;</td>
        <td style="width: 26.7507%; height: 18px;">&nbsp;</td>
        <td style="width: 21.5687%; height: 18px;">&nbsp;</td>
        <td style="width: 9.94403%; height: 18px;">&nbsp;</td>
        <td style="width: 8.54345%; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
        
        <td style="width: 16.5266%; height: 18px;"><strong>LOTE</strong></td>
        
        <td style="width: 21.5687%; height: 18px;"><strong>DESCRIPCION</strong></td>
        <td style="width: 9.94403%; height: 18px;"><strong>CANT</strong></td>
        <td style="width: 8.54345%; height: 18px;"><strong>PESO</strong></td>
        <td style="width: 8.54345%; height: 18px;"><strong>EDAD(días)</strong></td>
        </tr>{% for remisionne in remisionnew %}
        <tr style="height: 18px;">
        
        <td style="width: 16.5266%; height: 18px;">{{remisionne.3}}</td>
        <td style="width: 21.5687%; height: 18px;">CERDO EN PIE</td>
        <td style="width: 9.94403%; height: 18px;">{{remisionne.4}}</td>
        <td style="width: 8.54345%; height: 18px;">{{remisionne.7}}</td>
        <td style="width: 8.54345%; height: 18px;">{{remisionne.13}}</td>
        </tr>
        {% endfor %}
       
        <tr style="height: 18px;">
        <td style="width: 16.6667%; height: 18px;">&nbsp;</td>
        <td style="width: 16.5266%; height: 18px;">&nbsp;</td>
        <td style="width: 26.7507%; height: 18px;">&nbsp;</td>
        <td style="width: 21.5687%; height: 18px;">&nbsp;</td>
        <td style="width: 9.94403%; height: 18px;">&nbsp;</td>
        <td style="width: 8.54345%; height: 18px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <p>Observaciones:</p>
        <table style="height: 80px; width: 100.617%; border-collapse: collapse; border-style: solid;" border="1"><caption>&nbsp;</caption>
        <tbody>
        <tr style="height: 15px;">
        <td style="width: 17.4969%; height: 15px;">Fecha y Hora de Salida:</td>
        <td style="width: 20.1354%; height: 15px;">&nbsp;Despachado Por:</td>
        <td style="width: 16.7966%; height: 15px;">Fecha y Hora Llegada:</td>
        <td style="width: 20.5639%; height: 15px;">Recibido Por:</td>
        <td style="width: 27.7724%; height: 15px;">Cantidad Total: <strong>{{totalcerdos}}</strong></td>
        </tr>
        <tr style="height: 65px;">
        <td style="width: 17.4969%; height: 65px;">&nbsp;</td>
        <td style="width: 20.1354%; height: 65px;">&nbsp;</td>
        <td style="width: 16.7966%; height: 65px;">&nbsp;</td>
        <td style="width: 20.5639%; height: 65px;">&nbsp;</td>
        <td style="width: 27.7724%; height: 65px;">Peso Total: <strong>{{ total_cantidad }}</strong> <br> Peso Promedio : <strong>{{ promedio_formateado }}</strong></td>
        </tr>
        </tbody>
        </table>
</body>
</html>
