{% load adminlte_helpers i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Humana</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <style type="text/css">
        .btn-circle.btn-xl {
            width: 130px;
            height: 130px;
            padding: 13px 18px;
            border-radius: 100px;
            font-size: 15px;
            text-align: center;
            margin-left: 50px;
        }

        .btn-repor {
            background-color: #651410;
            color: aliceblue;
        }
    </style>
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>
</head>

<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">
    <div class="wrapper">
        {% block nav_header %}
        {% include '_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
        {% include '_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
            <section class="content-header">
                {% block no_heading %}
                <h1>
                    {% block page_name %}{% endblock %}
                    <div class="header-actions">
                        {% block page_actions %}{% endblock %}
                    </div>
                    {% block no_description %}
                    <small>{% block page_description %}{% endblock %}</small>
                    {% endblock %}
                </h1>
                {% block breadcrumbs %}
                {# Breadcrumb implementation left to developers #}
                {% endblock %}
                {% endblock no_heading %}
                <h1>Reportes Gestion Humana</h1>
            </section>
            {% endblock %}{% endblock %}
            <section>
                <div>
                    <button id="btn_nomina" class="btn btn-repor btn-lg" onclick="mostrarnomina()">Reporte Nomina</button>
                    <button id="btn_promociones" class="btn btn-repor btn-lg" onclick="mostrarpromociones()">Reporte Promociones</button>
                    <button id="btn_procesosele" class="btn btn-repor btn-lg" onclick="mostrarprocesosele()">Reporte Proceso Seleccion</button>
                    <button id="btn_retencion" class="btn btn-repor btn-lg" onclick="mostrarretencion()">Reporte Retencion</button>
                    <button id="btn_rotacion" class="btn btn-repor btn-lg" onclick="mostrarrotacion()">Reporte Rotacion</button>
                    <button id="btn_sstdiagindi" class="btn btn-repor btn-lg" onclick="mostrarsstdiagindi()">Reporte SST Diagnosticos</button>
                    <button id="btn_sstindi" class="btn btn-repor btn-lg" onclick="mostrarsstindi()">Reporte SST Indicadores</button>
                    <button id="btn_sstseveridad" class="btn btn-repor btn-lg" onclick="mostrarsstseveridad()" style="margin-top: 8px;">Reporte SST Severidad Y Frecuencia</button>
                </div>
            </section>
  
            <!-- Contenido principal -->
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="nomina_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE NOMINA</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_nomina" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA CORTE</th>
                                        <th>AREA</th>
                                        <th>CENTRO COSTO</th>
                                        <th>NUM COLABORADORES</th>
                                        <th>COSTO PROV</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for nomin in nomina %}
                                    <tr>
                                        <td>{{ nomin.0 }}</td>
                                        <td>{{ nomin.1 }}</td>
                                        <td>{{ nomin.2 }}</td>
                                        <td>{{ nomin.3 }}</td>
                                        <td>{{ nomin.4 }}</td>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="promociones_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE PROMOCIONES</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_promociones" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA CORTE</th>
                                        <th>NOMBRE</th>
                                        <th>ANTIGUO CARGO</th>
                                        <th>NUEVO CARGO</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for promocione in promociones %}
                                    <tr>
                                        <td>{{ promocione.0 }}</td>
                                        <td>{{ promocione.1 }}</td>
                                        <td>{{ promocione.2 }}</td>
                                        <td>{{ promocione.3 }}</td>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="procesosele_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE PROCESOS DE SELECCION</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_procesosele" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>NUM REQUISICION</th>
                                        <th>FECHA APROBACION</th>
                                        <th>AREA CENTRO COSTO</th>
                                        <th>FECHA RETIRO</th>
                                        <th>NOMBRE RETIRADO</th>
                                        <th>CARGO</th>
                                        <th>CUBRIMIENTO ESPERADO DIAS</th>
                                        <th>NOMBRE CANDIDATO</th>
                                        <th>TIPO INGRESO PROMO INT</th>
                                        <th>EXAMEN MEDICO</th>
                                        <th>VISITA DOMICILIARIA</th>
                                        <th>POLIGRAFIA</th>
                                        <th>FECHA INGRESO</th>
                                    </tr>
                                </thead> 
                                <tbody>

                                    {% for procesosel in procesosele %}
                                    <tr>
                                        <td>{{ procesosel.0 }}</td>
                                        <td>{{ procesosel.1 }}</td>
                                        <td>{{ procesosel.2 }}</td>
                                        <td>{{ procesosel.3 }}</td>
                                        <td>{{ procesosel.4 }}</td>
                                        <td>{{ procesosel.5 }}</td>
                                        <td>{{ procesosel.6 }}</td>
                                        <td>{{ procesosel.7 }}</td>
                                        <td>{{ procesosel.8 }}</td>
                                        <td>{{ procesosel.9 }}</td>
                                        <td>{{ procesosel.10 }}</td>
                                        <td>{{ procesosel.11 }}</td>
                                        <td>{{ procesosel.12 }}</td>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="retencion_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE RETENCION</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_retencion" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA REPORTE</th>
                                        <th>INDICADOR RETENCION</th>
                                        <th>OBSERVACIONES</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for retencio in retencion %}
                                    <tr>
                                        <td>{{ retencio.0 }}</td>
                                        <td>{{ retencio.1 }}</td>
                                        <td>{{ retencio.2 }}</td>
                                   

                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="rotacion_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE ROTACION</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_rotacion" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA REPORTE</th>
                                        <th>INDICADOR ROTACION</th>
                                        <th>OBSERVACIONES</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for rotacio in rotacion %}
                                    <tr>
                                        <td>{{ rotacio.0 }}</td>
                                        <td>{{ rotacio.1 }}</td>
                                        <td>{{ rotacio.2 }}</td>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="sstdiagindi_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE SST DIAGNOSTICOS</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_sstdiagindi" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA CORTE</th>
                                        <th>SEDE</th>
                                        <th>DIAGNOSTICO</th>
                                        <th>CANTIDAD</th>
                                        <th>OBSERVACION</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for sstdiagind in sstdiagindi %}
                                    <tr>
                                        <td>{{ sstdiagind.0 }}</td>
                                        <td>{{ sstdiagind.1 }}</td>
                                        <td>{{ sstdiagind.2 }}</td>
                                        <td>{{ sstdiagind.3 }}</td>
                                        <td>{{ sstdiagind.4 }}</td>
                                        
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="sstindi_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE SST INDICADORES</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_sstindi" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA CORTE</th>
                                        <th>SEDE</th>
                                        <th>CANTIDAD PEG</th>
                                        <th>DIAS INCAPACIDAD PEL</th>
                                        <th>CANTIDAD PAT</th>
                                        <th>PRORROGAS</th>
                                        <th>DIAS INCAPACIDAD PAT</th>
                                        <th>LICENCIA MATERNIDAD</th>
                                        <th>DIAS LICENCIA MAT</th>
                                        <th>LICENCIA PATERNIDAD</th>
                                        <th>DIAS LICENCIA PAT</th>
                                        <th>COSTO INCAPACIDAD</th>
                                        <th>OBSERVACIONES</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for sstind in sstindi %}
                                    <tr>
                                        <td>{{ sstind.0 }}</td>
                                        <td>{{ sstind.1 }}</td>
                                        <td>{{ sstind.2 }}</td>
                                        <td>{{ sstind.3 }}</td>
                                        <td>{{ sstind.4 }}</td>
                                        <td>{{ sstind.5 }}</td>
                                        <td>{{ sstind.6 }}</td>
                                        <td>{{ sstind.7 }}</td>
                                        <td>{{ sstind.8 }}</td>
                                        <td>{{ sstind.9 }}</td>
                                        <td>{{ sstind.10 }}</td>
                                        <td>{{ sstind.11 }}</td>
                                        <td>{{ sstind.12 }}</td>

                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div class="contener">
                <!-- Sección de tabla -->
                <section class="content">
                    <div class="card" id="sstseveridad_table" style="display:none;">
                        <div class="card-header">
                            <h3 class="card-title">REPORTE DE SST SEVERIDAD Y FRECUENCIA</h3>
                        </div>
                        <div class="card-body">
                            <table id="tabla_sstseveridad" class="table table-bordered table-hover ">
                                <thead>

                                    <tr>
                                        <th>FECHA CORTE</th>
                                        <th>CANT ENF GENERAL</th>
                                        <th>CANT ACC TRABAJO</th>
                                        <th>NUM EMPLEADOS</th>
                                        <th>FREC ACC</th>
                                        <th>DIAS INC GENERAL</th>
                                        <th>DIAS INC ACC</th>
                                        <th>SEV ACC</th>
                                        <th>INCID ENF LAB</th>
                                        <th>PORC AUSENTISMO</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for sstseverida in sstseveridad %}
                                    <tr>
                                        <td>{{ sstseverida.0 }}</td>
                                        <td>{{ sstseverida.1 }}</td>
                                        <td>{{ sstseverida.2 }}</td>
                                        <td>{{ sstseverida.3 }}</td>
                                        <td>{{ sstseverida.4 }}</td>
                                        <td>{{ sstseverida.5 }}</td>
                                        <td>{{ sstseverida.6 }}</td>
                                        <td>{{ sstseverida.7 }}</td>
                                        <td>{{ sstseverida.8 }}</td>
                                        <td>{{ sstseverida.9 }}</td>

                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            
            <!-- /.content -->

            <!-- /.content-wrapper -->




            {% block javascript %}
            {% include 'adminlte/lib/_scripts.html' %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
            <script>
                function mostrarnomina() {
                    document.getElementById("nomina_table").style.display = "block";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarpromociones() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "block";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarprocesosele() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "block";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarretencion() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "block";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarrotacion() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "block";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarsstdiagindi() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "block";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarsstindi() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "block";
                    document.getElementById("sstseveridad_table").style.display = "none";

                }
                function mostrarsstseveridad() {
                    document.getElementById("nomina_table").style.display = "none";
                    document.getElementById("promociones_table").style.display = "none";
                    document.getElementById("procesosele_table").style.display = "none";
                    document.getElementById("retencion_table").style.display = "none";
                    document.getElementById("rotacion_table").style.display = "none";
                    document.getElementById("sstdiagindi_table").style.display = "none";
                    document.getElementById("sstindi_table").style.display = "none";
                    document.getElementById("sstseveridad_table").style.display = "block";

                }

              
                $(document).ready(function () {
                    $('#tabla_nomina').DataTable();
                    $("#tabla_promociones").DataTable();
                    $("#tabla_procesosele").DataTable();
                    $("#tabla_retencion").DataTable();
                    $("#tabla_rotacion").DataTable();
                    $("#tabla_sstdiagindi").DataTable();
                    $("#tabla_sstindi").DataTable();
                    $("#tabla_sstseveridad").DataTable();
                });
            </script>
            <!-- script para llamar los html en el contenido -->
            <script src="{% static 'custom.js' %}"></script>
            {% endblock %}

</body>

</html>