<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .btn-circle.btn-xl {
            width: 100px;
            height: 100px;
            padding: 13px 18px;
            border-radius: 60px;
            font-size: 15px;
            text-align: center;
        }

        .btn-repor {
            background-color: #651410;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <section>
        <div>
            <button class="btn btn-repor btn-circle btn-xl">Reporte Clientes Activos </button>
            <button class="btn btn-repor btn-circle btn-xl">Reporte Ventas</button>
        </div>
    </section>
    <section>
        <table class="table table-bordered table-responsive table-hover text-uppercase">
            <thead>
                <tr>
                    <th>ds</th>
                    <th>df</th>
                    <th>fd</th>
                    <th>fd</th>
                    <th>fd</th>
                </tr>
            <tbody>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                <tr>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>fd</td>
                    <td>df</td>
                </tr>
                
            </tbody>
            </thead>
        </table>
    </section>
</body>

</html>